In [49]:
import pandas as pd

In [50]:
movie_path = "movies.csv" # It can be your csv file name but it has to be in same directory , or it can be your file path 

movie = pd.read_csv(movie_path) # Converting your data into variable

movie.describe() # Prints statical summary of your data

             movieId
count    9742.000000
mean    42200.353623
std     52160.494854
min         1.000000
25%      3248.250000
50%      7300.000000
75%     76232.000000
max    193609.000000

Example above is pretty useless because that statistic is based on MovieID .
We dont have any use of statistically info about MovieID.

In [51]:
rating_path = "ratings.csv"

rating = pd.read_csv(rating_path)

rating.describe()

              userId        movieId         rating     timestamp
count  100836.000000  100836.000000  100836.000000  1.008360e+05
mean      326.127564   19435.295718       3.501557  1.205946e+09
std       182.618491   35530.987199       1.042529  2.162610e+08
min         1.000000       1.000000       0.500000  8.281246e+08
25%       177.000000    1199.000000       3.000000  1.019124e+09
50%       325.000000    2991.000000       3.500000  1.186087e+09
75%       477.000000    8122.000000       4.000000  1.435994e+09
max       610.000000  193609.000000       5.000000  1.537799e+09

Rating data has many column which is useful for us to learn much more about data manipulation etc

In [52]:
movie.columns

Index(['movieId', 'title', 'genres'], dtype='object')

In [53]:
rating.columns

Index(['userId', 'movieId', 'rating', 'timestamp'], dtype='object')

In [54]:
movie.dropna(axis=0) # axis = 0 means drop rows with missing values
rating.dropna(axis=0) # axis = 1 means drop columns with missing values

        userId  movieId  rating   timestamp
0            1        1     4.0   964982703
1            1        3     4.0   964981247
2            1        6     4.0   964982224
3            1       47     5.0   964983815
4            1       50     5.0   964982931
...        ...      ...     ...         ...
100831     610   166534     4.0  1493848402
100832     610   168248     5.0  1493850091
100833     610   168250     5.0  1494273047
100834     610   168252     5.0  1493846352
100835     610   170875     3.0  1493846415

[100836 rows x 4 columns]

Dropna removes missing value . na stands for not available.

In [58]:
rating_features = ["userId", "movieId" , "rating"]
rating[rating_features].describe()

              userId        movieId         rating
count  100836.000000  100836.000000  100836.000000
mean      326.127564   19435.295718       3.501557
std       182.618491   35530.987199       1.042529
min         1.000000       1.000000       0.500000
25%       177.000000    1199.000000       3.000000
50%       325.000000    2991.000000       3.500000
75%       477.000000    8122.000000       4.000000
max       610.000000  193609.000000       5.000000

U can filter it like above